# ==========================================================
#  .env.example - file MAU, DUOC commit len Git
#  Nguoi moi clone repo chi can:  cp .env.example .env  roi dien gia tri
# ==========================================================
DB_HOST=quickbite-db
DB_PORT=5432

USER_DB_NAME=
USER_DB_USERNAME=
USER_DB_PASSWORD=
USER_SERVER_PORT=8081
