# ==========================================================
#  .env - KHONG commit len Git
#  TIEN TO HOA bien theo tung service de khong ghi de lan nhau.
# ==========================================================

DB_HOST=quickbite5-db
DB_PORT=5432

USER_DB_NAME=quickbite_user_db
USER_DB_USERNAME=
USER_DB_PASSWORD=

RESTAURANT_DB_NAME=quickbite_restaurant_db
RESTAURANT_DB_USERNAME=
RESTAURANT_DB_PASSWORD=

ORDER_DB_NAME=quickbite_order_db
ORDER_DB_USERNAME=
ORDER_DB_PASSWORD=

NOTIFICATION_DB_NAME=quickbite_notification_db
NOTIFICATION_DB_USERNAME=
NOTIFICATION_DB_PASSWORD=

# Cong 8080 tren may nay da bi chiem -> dung 8000. Doi so nay neu may ban khac.
GATEWAY_HOST_PORT=8080
